:root {
    --primary: #468faf;
    --secondary: #84bfd3;
    --accent: #84bfd350;
    --muted: #0000008c;
    --foreground: #fff;
    --font-inter: "Inter", sans-serif;
    --font-onest: 'Onest Variable';
}

@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-onest);
    overflow-x: hidden;
}

main {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}

.portfolio-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #b8b8b8c0;
    background-color: #ffffff52;
    position: sticky;
    top: 10px;
    z-index: 1;
    backdrop-filter: blur(20px);

    width: fit-content;
    margin: 0 auto;
    padding: 6px 10px;
    border-radius: 100px;
}

.portfolio-header button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--accent);
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 70;
}

.portfolio-header button svg{
    width: 15px;
    height: 15px;
}

.portfolio-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.portfolio-nav a {
    padding: 5px;
    background-color: #dadada;
    text-decoration: none;
    color: var(--primary);
    border-radius: 200px;
    transition: all 0.4s;

    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-nav a svg {
    width: 16px;
    height: 16px;
}

.portfolio-nav a:hover {
          background-color: var(--accent);  
          transform: scale(1.1); 
}
 /* Estilos del menú hamburguesa */
 .sidebar-back {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 40;
    background-color: #0000004f;
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
 }

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 50;
    background-color: var(--foreground);
    transform: translateX(300px);
    transition: all 0.4s;
}

.toggle-sidebar {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--accent);
    border-radius: 10px;
    z-index: 70;
}

.sidebar-content{
    padding: 10px;
}

.sidebar-content .nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 0px;
}

.sidebar-content .nav a {
    background-color: #dadada83;
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}

.sidebar-content .nav a svg {
    color: var(--primary);
    height: 18px;
    width: 18px;
}

.portfolio-logo {
    font-size: 25px;
    font-weight: 900;
}

.portfolio-hero {
    padding: 20px;
    display: flex;
    align-items: center; 
    gap: 20px;
    scroll-margin-top: 64px;
}

.portfolio-hero .title {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.portfolio-hero .image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    aspect-ratio: calc(1 / 1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
}

.portfolio-hero .image img{
    object-fit: cover;
    width: 100%;
    object-position: center;
    transform: translateY(-124px);
}

.portfolio-about {
    background-color: var(--foreground);
    padding: 20px;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 64px;
}

.portfolio-about .title {
    margin: 20px auto;

}

.portfolio-about .cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-about .cards .card {
    display: flex;
    flex-direction: column;
}

.portfolio-about .cards .card .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-about .cards .card .header div {
    line-height: 8px;
}

.portfolio-about .cards .card .header div p {
    color: var(--primary);
}

.portfolio-about .cards .card .header span {
    color: var(--muted);
}

.portfolio-about .cards .card .images {
    display: flex;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;    
}

.portfolio-about .cards .card .images img {
    max-width: 300px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px var(--primary);
}

.portfolio-projects {
    padding: 20px;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 64px;   
}

.portfolio-projects .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}

.portfolio-projects .cards article {
    background-color: var(--foreground);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
    border: 1px solid #dadada;
}

.portfolio-projects .cards article:hover {
    box-shadow: 4px 4px 30px var(--accent);
    transform: scale(1.03);
}

.portfolio-projects .cards article h2 {
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-projects .cards article p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-projects .cards article div {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    aspect-ratio: calc(2/1);
}

.portfolio-projects .cards article div img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.portfolio-contact {
    background-color: var(--foreground);
    display: flex;
    max-height: 700px;
    scroll-margin-top: 64px;
}

.portfolio-contact .image {
    display: flex;
    overflow: hidden;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 6px 6px 50px var(--accent);
}

.portfolio-contact .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-contact .form  {
    width: 50%;
    padding: 20px;   
}

.portfolio-contact .form .info form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}

.portfolio-contact .form .info form .group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-contact .form .info form .group label {
    font-weight: 600;
}

.portfolio-contact .form .info form .group input, textarea {
    border: 2px solid #dadada;
    padding: 10px 14px;
    max-width: 100%;
    border-radius: 10px;
}

.portfolio-contact .form .info form .group input:focus-visible, textarea:focus-visible {
    outline: 4px solid var(--accent);
    border: 2px solid var(--primary);
}

.portfolio-contact .form .info form button {
    background-color: var(--secondary);
    color: var(--foreground);
    border-radius: 10px;
    padding: 8px 10px;
    border: none;
    box-shadow: 4px 4px 5px var(--accent);
    cursor: pointer;
    transition: all 0.3s;

}

.portfolio-contact .form .info form button:hover {
    background-color: var(--primary);

}

footer {
    border-top: 1px solid #dadada;
    text-align: center;
    margin-top: 40px;
}

@media screen and (width < 870px) {
    .portfolio-hero {
        flex-direction: column;
    }

    .portfolio-hero .title {
        width: 100%;
    }

    .portfolio-about .cards .card .images {
        flex-direction: column;
    }
}

@media screen and (width < 860px) {
    .portfolio-projects .cards {
        grid-template-columns: 1fr 1fr;
    }
    .portfolio-contact .image {
        display: none;
    }
    .portfolio-contact .form{
        width: 100%;
    }
}

@media screen and (width < 550px) {
    .portfolio-projects .cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (width < 550px) {
    .portfolio-projects .cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (width < 600px) {
    /* .portfolio-header .portfolio-nav {
        display: none;
    } */

    .portfolio-header button {
    display: flex;
    }
}

